
body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif;
}
header{
    background: #004c97;
    font-family: Poppins;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    color: #64a8ec;
    height: 30px;
}
.izq_element{
    
    display: flex;
    width: 22.5%;
    justify-content: space-between;
}
.izq_element p{
    margin-top: 5px;
}
.der_element p{
    margin-top: 5px;
}
.der_element a{
    color: #f6f8fb;
    font-family: Poppins;
    font-weight: 500;
    text-decoration: none;
}
.submenu{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
.logo_busqueda{
    display: flex;
    width: 55%;
 
}
.logo_busqueda img{
    margin-right: 5%;
}
.submenu input{
   
    width: 540px;
    height: 48px;
    border-radius: 4px;
    border: solid 2px #004c97;
    background-color: #ffffff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
.submenu button{
    
    width: 45px;
    height: 48px;
    border-radius:4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border:solid 1px #004c97;
    background-color: #004c97;
}
.union{
    display: flex;
}
.precio_item{
    display: flex;
    margin-left: 5px;
}

.precio{
    background: #004c97;
    border-radius: 4px;
    width: 70px;
    height: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding-top: 13px;
    color: white;
}
.item{
    background: #0c6fd1;
    border-radius: 4px;
    width: 50px;
    height: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    padding-top: 13px;
    color: white;
    font-size: 12px;
}
button{
    background: #004c97;
}

.imagen-central img{
    margin-top: 30px;
    width: 100%;
}
.imagen-central h1{
    position: absolute;
    top: 170px;
    left: 450px;
    font-size: 60px;
    color: white;
    text-align: center;
}
.fruits{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
   
}
.fruits .content{
    display: flex;
    justify-content: space-around;
    padding-left: 10.5%;
    width: 30%;
}
.fruits .filter{
    color: #454545;
    font-weight: bold;
    font-size: 20px;
}
.fruits .all{
    color: #454545;
    font-weight: bold;
    font-size: 20px;
}
.fruits .offers, .bananas, .apples{
    color: #454545;
    font-size: 20px;
}
.fruits .selector{
    display: flex;
    padding-right: 14.7%;
    justify-content: space-around;
    width: 15%;
}
select{
    width: 150%;
    height: 140%;
    margin-top: -5%;
    border-radius: 4px;
}
.letra{
    color: #d3d3d3;
    font-size: 12px;
}
.section{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-top: 25px;
}

.section .card-completo{
    width: 17%;
    border: solid 1px #c6c6c6;
    /*margin-left: 19.4%;*/
    margin-bottom: 10px;
}

.hr-lineas{
    width: 62.9%;
    border: solid 1px #c6c6c6;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
}
.hrColor{
    
    border: solid 1px #c6c6c6;
    border-top: none;
    border-left: none;
    border-right: none;
}

.section .card-completo .imagenes .icon{
    position: relative;
    top:15px;
    left: 170px;
}
.section .card-completo .imagenes .fruit{
    padding-top: 30px;
}
.section .card-completo .imagenes .fruit-2{
  margin-bottom: 0;
}
.section .card-completo .precio{
    display: flex;
    margin-left: 20%;
    background: white;
    color: black;
}
.section .card-completo .precio .precio_actual{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
.section .card-completo .precio .precio_viejo{
    font-size: 18px;
    text-decoration: line-through;
    color: #7f7f7f;
    font-weight: bold;
}
.section .card-completo .numeros .number{
    font-size: 20px;
    color:black;
    font-weight: bold;
}
.section .card-completo .numeros{
    margin-left: 20%;
    color: black;
}
.section .card-completo .fruit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section .card-completo .fruit span{
    margin-left: 20%;
    color: #7d7c7d;
    
}
.section .card-completo .cantidad{
    display: flex;
    margin-left: 2.5px;
    border: solid 1px #c6c6c6;
}
.section .card-completo .cantidad .menos, .mas{
    width: 60px;
    height: 40px;
    border: none;
    font-size: 30px;
}
.section .card-completo .cantidad .menos{
    border: solid 1px #c6c6c6;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #fffeff;
    color: #dddcdc;
}
.section .card-completo .cantidad .mas{
    border: solid 1px #5b5e60;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #5b5e60;
    color: #f9fafa;
}
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none !important;

    margin: 0 !important;

}

input[type=number] {

    -moz-appearance:textfield !important;

}
.section .card-completo .cantidad .cant{
    width: 80px;
    height: 34px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.section .card-completo .add .agregar{
    height: 40px;
    width: 98%;
    margin-left: 2px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
h1{
    margin-left: 1%;
    
}
.h2-title{
    margin-left: 18.5%;
    font-size: 30px;
    font-weight: bold;
}
.section-abajo{

    background: #0a55b2;
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;
}
h2{
    position: relative;
    text-align: center;
    top:90px ;
    color:#ffffff;
    
}
.caja1,.caja2, .caja3{
    margin-top: 100px;
    text-align: center;
    flex-grow: 0.05;
    color: #ffffff;
    
}
.caja1, .caja3{
    width: 270px;
}
.caja3 img{
    margin-bottom: -7px;
}
.caja2{
    width: 440px;
}
.section .card-completo{
    margin-right: 40px;
}
.red{
    display: inline-block;
    margin-top: 12px;
    padding:5px;
    margin-right: -75px;
    margin-left: 15px;
    border-radius: 4px;
    color: #ffffff;
    background: red;
    
}
.section .card-completo .imagenes .icon-unit{
    position: relative;
    top:7px;
    left: 150px;
}
.beri{
    margin-left: 43px;
}
.section-abajo .firs{
    font-weight: bold;
}
footer{
    margin-top: 50px;
    text-align: center;
    color: #ababab;
}


